 @import "style6.scss";

.menu
{
    background-color:#f9fbe7;
    h2
        { 
        background: -webkit-linear-gradient(left, red 40%, blue 60%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        }   
}

.part1
{
    color: orange;
    .line h3::before
        {
            background-color:orange
        }
    .line h3::after
        {
            background-color: orange;
        }
}

.part2
{
    color: purple;
    .line h3::after
    {
        background-color: purple;
    }
    .line h3::before
    {
        background-color: purple;
    }
}

.part3
{
    color: blue;
    .line h3::after
    {
        background-color: blue;
    }
    .line h3::before
    {
        background-color: blue;
    }
}
