@import "style6.scss";

.menu
{
    background-color:#f1f8e9;
    h2 
        {
        background: -webkit-linear-gradient(left,blue 66%,#5472d3 34%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-style: italic;
        font-family: cursive;
        }
    }