body {
  margin: 0%;
  padding: 0%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-family: cursive;
  padding: 70px;
}

.menu h4 {
  font-size: 15px;
}

.menu h2 {
  text-align: center;
}

.menu .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h3 {
  width: 250px;
  text-align: center;
  margin-top: 10px;
}

.line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.line .line_before {
  width: 250px;
  height: 20px;
  margin-top: 10px;
}

.line .line_after {
  width: 250px;
  height: 20px;
  margin-top: 10px;
}

.mention_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  background-color: seagreen;
  font-size: 17px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.men_1 {
  display: inline-block;
  text-decoration: none;
  color: yellow;
  margin-left: 40px;
}

.men_1:hover {
  -webkit-animation: shake 2s infinite;
          animation: shake 2s infinite;
}

.cont_2 {
  display: inline-block;
  text-decoration: none;
  color: yellow;
  margin-right: 40px;
}

.cont_2:hover {
  -webkit-animation: shake 2s infinite;
          animation: shake 2s infinite;
}

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

@media all and (max-width: 640px) {
  body {
    margin: 0%;
    padding: 0%;
  }
  .menu {
    height: 100%;
    width: 100%;
    font-size: 10px;
    margin: 0%;
    padding: 0%;
  }
  .mention_contact {
    margin-top: 0%;
  }
}

.menu {
  background-color: #fce4ec;
  color: black;
}

.titrefin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.titrefin .fa-music {
  font-size: 30px;
  margin-top: 30px;
}

.titrefin h4 {
  font-size: 20px;
  margin-left: 8px;
}

.fa-music {
  font-size: 60px;
  color: red;
  text-align: center;
}
/*# sourceMappingURL=style2.css.map */