@import "style6.scss";

.menu
{
    font-style: italic;
    background-color: #ffff;
    color: black;
    h2 
        {
        background: -webkit-linear-gradient(left,#4caf50 64%,#a5d6a7 36%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-style: italic;
        font-family: cursive;
        }
}
.trait
{
    background-color:green;
}

.trait1
{
    top: 28%;
    left: 41%;
}

.trait2
{
    top:57%;
    left: 41%;
}
.trait3
{ 
    top:87%;
    left: 41%
}