body
{
  padding: 0;
  margin: 0;
}
#bannière
{
    display: flex;
    justify-content: center;  
    text-align: center;
    background-color: seagreen;
    color: yellow;
    height: 80px;
    width: 100%;
}
.container
{
  padding: 20px;
}

.contenant
{
    display: flex;
    justify-content: center;
}   
.contenant2
{
  display: flex;
  justify-content: center;
}
.menu
{ 
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 350px;
height: 520px;
margin: 18px;
box-shadow: 1px 1px 7px grey;
}

.fa-music
{
  font-size: 4em;
  color:#c50040;
  
}
.titre1 .note
{
  color:#6d4c41;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-weight: 900;
  font-size: 20px;
}
.grey 
{
background-color: #fce4ec;
color: #6d4c41;
}

.blancasse
{
  background-color:#f9fbe7; 
  color:orange;
  
}
.blancasse .note
  {
    background: -webkit-linear-gradient(left, red, blue);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  } 

.beige
{   
  background-color:#f1f8e9;
  color: blue;
}
.beige .note
{
  color: blue;
  font-style: italic
}

.white
{
  background-color: #ffff;
  color: green;
}
.white .note
{
  background: -webkit-linear-gradient(left,#4caf50 64%,#a5d6a7 36%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: italic;
  font-family: cursive;
}

.note
{  
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  text-decoration: none;
  margin-top: 50px;
}


.pro{
  
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 250px;
  background-color: seagreen;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 130px;
}
.pro_btn
{  
  color: yellow;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  
}

.mention_contact
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: seagreen;
  font-size: 17px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
 }
  .men_1 
  {
    text-decoration: none;
    color: yellow;
    margin-left: 40px;
  }

  .cont_2
  {
    text-decoration: none;
    color: yellow;
    margin-right: 40px;
  }

  #t1
  { 
    text-align: center;
    margin-top: 40px;
  }
  #t2
  {
    margin-top: 40px;
    font-size: 30px;
    font-weight: bold;
  }
  .t3
  {
    margin-top: 40px;
    font-size: 30px;
  }