body {
  margin: 0%;
  padding: 0%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-family: cursive;
  padding: 70px;
}

.menu h4 {
  font-size: 15px;
}

.menu h2 {
  text-align: center;
}

.menu .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.surligne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.trait {
  border: 1px solid;
  text-align: center;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
}

.trait:hover {
  -webkit-animation: tiret 2s forwards;
          animation: tiret 2s forwards;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

@-webkit-keyframes tiret {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: .1;
  }
  17% {
    -webkit-transform: scale(0.18);
            transform: scale(0.18);
  }
  24% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
  }
  46% {
    -webkit-transform: scaleX(0.81);
            transform: scaleX(0.81);
  }
  85% {
    -webkit-transform: scaleX 0.18;
            transform: scaleX 0.18;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes tiret {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: .1;
  }
  17% {
    -webkit-transform: scale(0.18);
            transform: scale(0.18);
  }
  24% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
  }
  46% {
    -webkit-transform: scaleX(0.81);
            transform: scaleX(0.81);
  }
  85% {
    -webkit-transform: scaleX 0.18;
            transform: scaleX 0.18;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

.mention_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  background-color: seagreen;
  font-size: 17px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.men_1 {
  display: inline-block;
  text-decoration: none;
  color: yellow;
  margin-left: 40px;
}

.men_1:hover {
  -webkit-animation: shake 2s infinite;
          animation: shake 2s infinite;
}

.cont_2 {
  display: inline-block;
  text-decoration: none;
  color: yellow;
  margin-right: 40px;
}

.cont_2:hover {
  -webkit-animation: shake 2s infinite;
          animation: shake 2s infinite;
}

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

@media all and (max-width: 640px) {
  body {
    margin: 0%;
    padding: 0%;
  }
  .menu {
    height: 100%;
    width: 100%;
    font-size: 10px;
    margin: 0%;
    padding: 0%;
  }
  .mention_contact {
    margin-top: 0%;
  }
}

.menu {
  background-color: #f1f8e9;
}

.menu h2 {
  background: -webkit-linear-gradient(left, blue 66%, #5472d3 34%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: italic;
  font-family: cursive;
}

.line_before {
  width: 300px;
  height: 20px;
}

.line_after {
  width: 300px;
  height: 20px;
}
/*# sourceMappingURL=style4.css.map */