@import"style6.scss";
.menu
{
    background-color:#fce4ec;
    color: black;
}

.trait
{
    background-color: black;
}

.trait1
{
    top: 37%;
    left: 47%;
    width: 80px;
}

.trait2
{
    top:79%;
    left: 45%;
    width: 135px;
}
.trait3
{ 
    top:113%;
    left: 44%;
    width: 163px;
}
.titrefin
{   
    display: flex;
    justify-content: center;
    .fa-music
    {
        font-size: 30px;
        margin-top: 30px;
    }
    h4 
    {
        font-size:20px;
        margin-left:8px;   
    }
}

.fa-music
{
    font-size: 60px;
    color: red;
    text-align: center;
}
