@import"style6.scss";
.menu
{
    background-color:#fce4ec;
    color: black;
}
.line
{
    display: flex;
    justify-content: space-between;
   
}
h3
{
    width: 240px;
    text-align: center;
}
.line_before
{
    width: 200px;
    height: 20px;
}
.line_after
{
    width: 200px;
    height: 20px;
}

.titrefin
{   
    display: flex;
    justify-content: center;
    .fa-music
    {
        font-size: 30px;
        margin-top: 30px;
    }
    h4 
    {
        font-size:20px;
        margin-left:8px;   
    }
}

.fa-music
{
    font-size: 60px;
    color: red;
    text-align: center;
}
