@import "style6.scss";

.menu
{
    font-style: italic;
    background-color: #ffff;
    color: black;
    h2 
        {
        background: -webkit-linear-gradient(left,#4caf50 64%,#a5d6a7 36%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-style: italic;
        font-family: cursive;
        }
}
.trait
{
    background-color: #4caf50;
    opacity: 0.8;
}

.trait1
{
    top: 40%;
    left: 47%;
    width: 81px;
}

.trait2
{
    top:73.5%;
    left: 43.5%;
    width: 175px;
}
.trait3
{ 
    top:107.5%;
    left: 43%;
    width: 190px;
}