 @import "style6.scss";

.menu
{
    background-color:#f9fbe7;
    h2
        { 
        background: -webkit-linear-gradient(left, red 40%, blue 60%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        }   
}
.line
{
    display: flex;
    justify-content: space-between;
}
.line_before
        {
            width: 200px;
            height: 20px;
        }
.line_after
        {
            width: 200px;
            height: 20px;
        }

.part1
{
    color: orange;    
}

.part2
{
    color: purple;  
}

.part3
{
    color: blue;
}
