@import "style6.scss";

.menu
{
    background-color:#f1f8e9;
    h2 
        {
        background: -webkit-linear-gradient(left,blue 66%,#5472d3 34%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-style: italic;
        font-family: cursive;
        }
    }
.trait
{
    background-color: blue;
    opacity: 0.8;
}

.trait1
{
    top: 40%;
    left: 42.5%;
    width: 200px;
}

.trait2
{
    top:73.5%;
    left: 43%;
    width: 186px;
}
.trait3
{ 
    top:107%;
    left: 43.5%;
    width: 175px;
}