#bannière
{
    text-align: center;
    background-color: seagreen;
    color: yellowgreen;
}



.contenant
{
    display: flex;
    flex-wrap: wrap;
    margin-left: 15%;
    margin-right:15%;
    margin-top: 0%;
    justify-content: space-between;
}   
.menu
{
border-width: 4px;
border-color: black;
border-style: solid; 
padding-top: 100px;
padding-bottom:100px;
text-align: center;
}
.titre1_sound
{
  display:column;
}
.fa-music
{
  font-size: xx-large;
  margin-top: 80px;
  
}
.titre1 
{
padding-top: 14em;
padding-bottom: 14em;
padding-right: 90px;
padding-left: 60px;
background-color: #fce4ec;

}

.titre2
{
  padding-top:14em;
  padding-bottom: 14em;
  padding-right: 50px;
  padding-left: 60px;
  background-color:#f9fbe7;          
}
.titre3
{
  margin-top: 20px;
  padding-top: 14em;
  padding-bottom: 14em;
  padding-right: 60px;
  padding-left: 50px;
  background-color:#f1f8e9;
  
}
.titre4
{
  margin-top: 20px;
  padding-bottom: 14em;
  padding-top: 14em;
  padding-right: 77px;
  padding-left: 70px;
  background-color: #ffff;
}
.note
{  
  font-family: 'Times New Roman', Times, serif;
  color: brown;
  font-size: 30px;
  text-decoration: none;
}

.pro{
  
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px solid black;
  background-color: seagreen;
  font-size: 20px;
  height: 50px;
  width: 10%;
  margin-left: 45%;
  text-decoration: none;  
}
.pro_btn
{  
  color: yellowgreen;
  text-decoration: none;
}

.mention_contact
{
  display: flex;
  justify-content: space-around;
  padding: 10px;
  height: 40px;
  background-color: seagreen;
  font-size: 17px;
  margin-top: 20px;  
 }
  .men_1 
  {
    text-decoration: none;
    color: yellowgreen;
  }

  .cont_2
  {
    text-decoration: none;
    color: yellowgreen;
  }
