@import"style6.scss";
.menu
{
    background-color:#fce4ec;
    color: black;
}

.trait
{
    background-color: black;
}

.trait1
{
    top: 38%;
    left: 41%;
}

.trait2
{
    top:73%;
    left: 41%;
}
.trait3
{ 
    top:102%;
    left: 41%
}
.titrefin
{   
    display: flex;
    justify-content: center;
    .fa-music
    {
        font-size: 30px;
        margin-top: 30px;
    }
    h4 
    {
        font-size:20px;
        margin-left:8px;   
    }
}

.fa-music
{
    font-size: 60px;
    color: red;
    text-align: center;
}
