$halfwidth:50%;
$halftitlewidth: 120px;
body
{
    margin: 0%;
    padding: 0%;
}


.menu
{
    display: flex;
    flex-direction: column;
    width:60%;
    margin-left: auto;
    margin-right: auto;
    font-family: cursive; 
    padding: 70px;
    h4
    {
    font-size: 15px;
   
    }
    h2
    {
    text-align: center;
    }
    .list
    {
    display: flex;
    justify-content: space-between;
    }
}
h3
{
  width: 250px;
  text-align: center;
  margin-top: 10px;
}
.line
{
    display: flex;
    justify-content: space-between;

.line_before
{
    width: 250px;
    height: 20px;
    margin-top: 10px;
}
.line_after
{
    width: 250px;
    height: 20px;
    margin-top: 10px;
}
}
.mention_contact
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: seagreen;
  font-size: 17px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
 }
  .men_1 
  {
    display: inline-block;
    text-decoration: none;
    color: yellow;
    margin-left: 40px;
    &:hover{
    animation: shake 2s infinite;
    }
  }

  .cont_2
  {
    display: inline-block;
    text-decoration: none;
    color: yellow;
    margin-right: 40px;
    &:hover{
    animation: shake 2s infinite;
    }
  }
@keyframes shake
{
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@media all and (max-width: 640px)
{
    body
    {
        margin: 0%;
        padding: 0%;
    }
    
    .menu
    {
        height: 100%;
        width: 100%;
        font-size: 10px;
        margin: 0%;
        padding: 0%;
    }
    .mention_contact
    {
        margin-top: 0%;
    }
}