 @import "general.scss";

.menu
{
    background-color:#f9fbe7;
    h2
        { 
        background: -webkit-linear-gradient(left, red 40%, blue 60%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        }   
}
.trait1
{
    top: 40%;
    left: 41%;
    background-color: orange;
    width: 245px;
}

.trait2
{
    top:73.5%;
    left: 43.5%;
    background-color: purple;
    width: 180px;
}
.trait3
{ 
    top:107%;
    left: 42.5%;
    background-color: blue;
    width: 205px;
}
.part1
{
    color: orange;    
}

.part2
{
    color: purple;  
}

.part3
{
    color: blue;
}
