@charset "UTF-8";
body {
  margin: 0%;
  padding: 0%;
}

a {
  text-decoration: none;
}

#bannière {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #579c87;
  color: #fdcb46;
  height: 80px;
  width: 100%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-family: cursive;
  padding: 70px;
}

.menu h4 {
  font-size: 15px;
}

.menu h2 {
  text-align: center;
}

.menu .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.prix {
  float: right;
  padding-right: 50px;
  width: 20px;
}

h3 {
  width: 250px;
  text-align: center;
  margin-top: 10px;
  position: relative;
  cursor: pointer;
}

h3:hover + .trait1 {
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-animation: tiret forwards;
          animation: tiret forwards;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  visibility: visible;
}

h3:hover + .trait2 {
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-animation: tiret forwards;
          animation: tiret forwards;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  visibility: visible;
}

h3:hover + .trait3 {
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-animation: tiret forwards;
          animation: tiret forwards;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  visibility: visible;
}

@-webkit-keyframes tiret {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 1;
  }
  17% {
    -webkit-transform: scaleX(0.18);
            transform: scaleX(0.18);
    opacity: 0.8;
  }
  24% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
  }
  46% {
    -webkit-transform: scaleX(0.81);
            transform: scaleX(0.81);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes tiret {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 1;
  }
  17% {
    -webkit-transform: scaleX(0.18);
            transform: scaleX(0.18);
    opacity: 0.8;
  }
  24% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
  }
  46% {
    -webkit-transform: scaleX(0.81);
            transform: scaleX(0.81);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.trait {
  position: absolute;
  visibility: hidden;
  height: 2px;
}

.line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.line .line_before {
  width: 250px;
  height: 20px;
  margin-top: 10px;
}

.line .line_after {
  width: 250px;
  height: 20px;
  margin-top: 10px;
}

.mention_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  background-color: #579c87;
  font-size: 17px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.men_1 {
  display: inline-block;
  text-decoration: none;
  color: #fdcb46;
  margin-left: 40px;
}

.men_1:hover {
  -webkit-animation: shake 2s infinite;
          animation: shake 2s infinite;
}

.cont_2 {
  display: inline-block;
  text-decoration: none;
  color: #fdcb46;
  margin-right: 40px;
}

.cont_2:hover {
  -webkit-animation: shake 2s infinite;
          animation: shake 2s infinite;
}

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

@media all and (max-width: 850px) {
  body {
    margin: 0%;
    padding: 0%;
  }
  .menu {
    width: 100%;
    margin: 0%;
    padding: 0%;
    font-size: 13px;
    padding-bottom: 20px;
  }
  h3 {
    margin-left: auto;
    margin-right: auto;
  }
  .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .line {
    display: block;
  }
  .prix {
    margin-left: auto;
    margin-right: auto;
    padding: 0%;
  }
  .line_before {
    display: none;
  }
  .line_after {
    display: none;
  }
  .trait {
    display: none;
  }
  .mention_contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 30px;
    background-color: #579c87;
    font-size: 15px;
    width: 100%;
  }
}

.menu {
  background-color: #f9fbe7;
}

.menu h2 {
  background: -webkit-linear-gradient(left, red 40%, blue 60%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.trait1 {
  top: 40%;
  left: 41%;
  background-color: orange;
  width: 245px;
}

.trait2 {
  top: 73.5%;
  left: 43.5%;
  background-color: purple;
  width: 180px;
}

.trait3 {
  top: 107%;
  left: 42.5%;
  background-color: blue;
  width: 205px;
}

.part1 {
  color: orange;
}

.part2 {
  color: purple;
}

.part3 {
  color: blue;
}
/*# sourceMappingURL=menu2.css.map */